body {
  background-color: #f1edee;
  color: #686963;
}

a.nav-link {
  color: #db5461;
  font-weight: 600;
}

p {
  font-weight: 500;
}

a.link {
  display: table;
}

h3 {
  color: #db5461;
}

img.cat {
  margin-left: 650px;
}
